<!DOCTYPE html>
<html lang="nl">
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body>
	<header class="indexheader">
		<div class="titlecontainer">
			<h1>eGilde</h1>
		</div>
		<div class="buttons">
			<%- include('partials/HeaderNav.ejs') %> 
		</div>
	</header>
	<main class="landingspage">
		<h2>Vind passende eHealth toepassingen voor uw client</h2>
        <section class="calltoaction">
           <article><a href="/omaha-filter">Gebruik de OMAHA filter</a></article>
           <article><a href="/producten">Bekijk het aanbod</a></article>
        </section>
        <h3>Recent bekeken</h3>
		<section class="recentlyviewed">
			<% for( let index = 0; index < items.length; index++ ) { %>
				<a href="/producten/<%= items[index].fields.slug %>">
					<article data-id="<%= items[index].fields.tags %>" data-title="<%= items[index].fields.slug %>"  class="ehealth-item">
						<% if(items[index].fields.afbeelding) { %>
							<img src="<%= items[index].fields.afbeelding.fields.file.url %>" alt="">
						<% } %>
						<h3><%= items[index].fields.titel %></h3>
						<h5><%= items[index].fields.tags %></h5>
					</article>
				</a>
			<% } %>
		</section>
	</main>
</body>
</html>