<!DOCTYPE html>
<html lang="nl">
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body>
	<header>
		<div class="titlecontainer">
			<h1>eHealth toepassingen</h1>
		</div>
		<div id="wrap">
			<form action="" autocomplete="on">
			<input id="search" name="search" type="text" placeholder="Wat zoek je?"><input id="search_submit" value="Rechercher" type="submit">
			</form>
		</div>
	</header>
	<main class="indexPage">
		<form>
			<button type="button" id="filterButton">
				<p id="text">Filter</p>
			</button>
			<fieldset class="">
				<legend>Domeinen</legend>
				<% filteredData.forEach((domein, index) => { %>
					<div class="container">
						<legend for="<%= domein.id %>"><%= domein.domein %></legend>
						<div>
							<% for( let index = 0; index < 3; index++ ) { %>
								<input class="filter-checkbox" id="<%= domein.domeinTags[index].slug %>" type="checkbox" name="domeinTags" value="<%= domein.domeinTags[index].slug %>">
								<label for="<%= domein.domeinTags[index].slug %>"><%= domein.domeinTags[index].tag %></label> 
								<br>
							<% } %>
						</div>
						<div class="input-container hide">
							<% for( let index = 3; index < domein.domeinTags.length; index++ ) { %>
								<input class="filter-checkbox" id="<%= domein.domeinTags[index].slug %>" type="checkbox" name="domeinTags" value="<%= domein.domeinTags[index].slug %>">
								<label for="<%= domein.domeinTags[index].slug %>"><%= domein.domeinTags[index].tag %></label> 
								<br>
							<% } %>
						</div>
						<button data-id="<%= index %>" type="button" class="showmorebutton">Toon meer</button>
					</div>
				<% }) %>
			</fieldset>
		</form>
		<section class="ehealthitemscontainer">
			<% items.forEach(item => { %>
				<a href="/products/<%= item.fields.slug %>">
					<article data-id="<%= item.fields.tags %>" class="ehealth-item">
						<h3><%= item.fields.titel %></h3>
						<% if(item.fields.afbeelding) { %>
							<img src="<%= item.fields.afbeelding.fields.file.url %>" alt="">
						<% } %>
					</article>
				</a>
			<% }) %>
		</section>
	</main>
</body>
</html>
