<!DOCTYPE html>
<html lang="nl">
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body>
	<header class="indexheader">
		<div class="titlecontainer">
			<h1>eHealth toepassingen</h1>
		</div>
		<div class="buttons">
			<a href="/overview"><p id="text">home</p></a>
			<a href="/"><p class="active" id="text">productenklapper</p></a>
			<a type="button" id="filterButton"><p id="text">filter</p></a>
			<a href="/zoek"><p id="text">zoek</p></a>
		</div>
	</header>
	<main class="indexPage">
		<form>
			<fieldset class="">
				<legend>Domeinen</legend>
				<% filteredData.forEach((domein, index) => { %>
					<div class="container">
						<legend for="<%= domein.id %>"><%= domein.domein %></legend>
						<div>
							<% for( let index = 0; index < 3; index++ ) { %>
								<input class="filter-checkbox" id="<%= domein.domeinTags[index].slug %>" type="checkbox" name="domeinTags" value="<%= domein.domeinTags[index].slug %>">
								<label for="<%= domein.domeinTags[index].slug %>"><%= domein.domeinTags[index].tag %></label> 
								<br>
							<% } %>
						</div>
						<div class="input-container hide">
							<% for( let index = 3; index < domein.domeinTags.length; index++ ) { %>
								<input class="filter-checkbox" id="<%= domein.domeinTags[index].slug %>" type="checkbox" name="domeinTags" value="<%= domein.domeinTags[index].slug %>">
								<label for="<%= domein.domeinTags[index].slug %>"><%= domein.domeinTags[index].tag %></label> 
								<br>
							<% } %>
						</div>
						<button data-id="<%= index %>" type="button" class="showmorebutton">Toon meer</button>
					</div>
				<% }) %>
			</fieldset>
		</form>
		<section class="ehealthitemscontainer">
			<div class="filterbox">
				<input class="filter-checkbox" id="fysieke-activiteits" type="checkbox" name="domeinTags" value="fysieke-activiteit">
				<label for="fysieke-activiteits">Fysieke activiteit</label> 
				<input class="filter-checkbox" id="cognities" type="checkbox" name="domeinTags" value="cognitie">
				<label for="cognities" class="cog">Cognitie</label> 
				<input class="filter-checkbox" id="medicaties" type="checkbox" name="domeinTags" value="medicatie">
				<label for="medicaties" class="med">Medicatie</label> 
			</div>
			<section class="ehealthitemscontainer">
			<% items.forEach(item => { %>
				<a href="/products/<%= item.fields.slug %>">
					<article data-id="<%= item.fields.tags %>" data-title="<%= item.fields.slug %>"  class="ehealth-item">
						<% if(item.fields.afbeelding) { %>
							<img src="<%= item.fields.afbeelding.fields.file.url %>" alt="">
						<% } %>
						<h3><%= item.fields.titel %></h3>
						<h5><%= item.fields.tags %></h5>
					</article>
				</a>
			<% }) %>
			</section>
		</section>
	</main>
</body>
</html>
