<!DOCTYPE html>
<html lang="nl">
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body>
	<header class="indexheader">
		<div class="titlecontainer">
			<h1>eHealth toepassingen</h1>
		</div>
		<div class="buttons">
			<a href="/"><p id="text"><img src="/images/home.png" alt=""></p></a>
			<a href="/saved"><p id="text"><img src="/images/fav.png" alt=""></p></a>
			<a href="/zoek"><p id="text"><img src="/images/search.png" alt=""></p></a>
		</div>
	</header>
	<main class="">
        <section class="ehealthitemscontainer">
           <article>Gebruik de OMAHA filter</article>
           <article>Bekijk alles</article>
        </section>
        <h2>Recent bekeken</h2>
		<section class="ehealthitemscontainer">
			<% for( let index = 0; index < items.length; index++ ) { %>
				<a href="/products/<%= items[index].fields.slug %>">
					<article data-id="<%= items[index].fields.tags %>" data-title="<%= items[index].fields.slug %>"  class="ehealth-item">
						<% if(items[index].fields.afbeelding) { %>
							<img src="<%= items[index].fields.afbeelding.fields.file.url %>" alt="">
						<% } %>
						<h3><%= items[index].fields.titel %></h3>
						<h5><%= items[index].fields.tags %></h5>
					</article>
				</a>
			<% } %>
		</section>
	</main>
</body>
</html>