<!DOCTYPE html>
<html lang="nl">
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body>
	<header class="indexheader">
		<div class="titlecontainer">
			<h1>eHealth toepassingen</h1>
		</div>
		<div class="buttons">
			<%- include('partials/HeaderNav.ejs') %>
		</div>
	</header>
	<main class="indexPage vergelijken">
		<form>
			<fieldset class="">
				<legend>Domeinen</legend>
				<% filteredData.forEach((domein, index) => { %>
					<div class="container">
						<% if(domein.domeinTags.length > 0) { %> 
							<legend for="<%= domein.id %>"><%= domein.domein %></legend>
						<%}%>
						<div>
							<% for( let index = 0; index < 3; index++ ) { %>
								<% if(domein.domeinTags[index]) { %>
									<input class="filter-checkbox" id="<%= domein.domeinTags[index].slug %>" type="checkbox" name="domeinTags" value="<%= domein.domeinTags[index].slug %>">
									<label for="<%= domein.domeinTags[index].slug %>"><%= domein.domeinTags[index].tag %></label> 
									<br>
								<% } %>
							<% } %>
						</div>
						<div class="input-container hide">
							<% for( let index = 3; index < domein.domeinTags.length; index++ ) { %>
								<% if(domein.domeinTags[index]) { %>
									<input class="filter-checkbox" id="<%= domein.domeinTags[index].slug %>" type="checkbox" name="domeinTags" value="<%= domein.domeinTags[index].slug %>">
									<label for="<%= domein.domeinTags[index].slug %>"><%= domein.domeinTags[index].tag %></label> 
									<br>
								<% } %>
							<% } %>
						</div>
						<% if(domein.domeinTags.length > 3) { %> 
							<button data-id="<%= index %>" type="button" class="showmorebutton">Toon meer</button>
						<%}%>
					</div>
				<% }) %>
			</fieldset>
		</form>
		<section class="ehealthitemscontainer">
			<div class="filterbox">
				<input class="filter-checkbox" id="fysieke-activiteits" type="checkbox" name="domeinTags" value="fysieke-activiteit">
				<label for="fysieke-activiteits">Fysieke activiteit</label> 
				<input class="filter-checkbox" id="cognities" type="checkbox" name="domeinTags" value="cognitie">
				<label for="cognities" class="cog">Cognitie</label> 
				<input class="filter-checkbox" id="medicaties" type="checkbox" name="domeinTags" value="medicatie">
				<label for="medicaties" class="med">Medicatie</label> 
			</div>
			<div class="vergelijk-btn-container">
				<button class="vergelijk-btn" id="vergelijk-btn">
					Vergelijken
				</button>
			</div>
			<section id="ehealth-items-overview" class="ehealthitemscontainer">
			<% items.forEach(item => { %>
				<a href="/producten/<%= item.fields.slug %>">
					<article data-id="<%= item.fields.tags %>" data-title="<%= item.fields.slug %>"  class="ehealth-item">
						<% if(item.fields.afbeelding) { %>
							<img src="<%= item.fields.afbeelding.fields.file.url %>" alt="">
						<% } %>
						<h3><%= item.fields.titel %></h3>
						<div class="ehealth-tags-container">
							<% item.fields.tags.forEach(tag => { %>
								<h5><%= tag %></h5>
							<% }) %>
						</div>
					</article>
				</a>
			<% }) %>
			</section>
			<form id="ehealth-items-compare" class="vergelijken-form hide-container" action="/vergelijken" method="POST">
				<% items.forEach(item => { %>
					<input class="vergelijken-checkbox" type="checkbox" id="<%= item.fields.slug %>" name="compare" value="<%= item.fields.slug %>">
					<label class="vergelijken-label" for="<%= item.fields.slug %>" name="compare">
						<article 
							data-id="<%= item.fields.tags %>"
							data-title="<%= item.fields.slug %>"
							class="ehealth-item"
							>
							<% if(item.fields.afbeelding) { %>
								<img src="<%= item.fields.afbeelding.fields.file.url %>" alt="">
							<% } %>
							<h3><%= item.fields.titel %></h3>
							<h5><%= item.fields.tags %></h5>
							<div class="vergelijken-visual-checkbox">
								<svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16.8105 0.767755C15.8342 -0.208555 14.2513 -0.208555 13.2749 0.767756L6.15436 7.88834L4.49824 6.23222C3.52192 5.25591 1.93901 5.25591 0.962702 6.23222C-0.0136089 7.20853 -0.0136089 8.79144 0.962702 9.76776L4.49824 13.3033C5.47455 14.2796 7.05746 14.2796 8.03377 13.3033L16.8105 4.30329C17.7868 3.32698 17.7868 1.74407 16.8105 0.767755Z" fill="white"/>
								</svg>	
							</div>
						</article>
					</label>
				<%})%>
				<div id="vergelijk-submit" class="vergelijken-submit" type="submit">
					Vergelijken
				</div>
			</form>
		</section>
	</main>
</body>
</html>
