<!DOCTYPE html>
<html lang="nl">
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body>
	<header class="detailPageHeader indexheader">
		<div class="titlecontainer">
			<button class="vergelijkButton"><a href="/producten">Terug</a></button>
			<h1><%= item.titel %></h1>
		</div>
		<div>
			<button class="vergelijkButton">
				<p id="text">Vergelijk</p>
			</button>
		</div>
	</header>
	<main class="detailPage">
		<article data-id="<%= item.tags %>">
			<section>
				<h2>Beschrijving</h2>
				<%- item.beschrijving %>
			</section>
			<section class="img">
				<% if(item.afbeelding) { %>
					<img src="<%= item.afbeelding %>" alt="">
				<% } %>
			</section>
			<section>
				<h2>Benodigheden</h2>
				<div id="input-container1" class="hide">
				<%- item.benodigdheden %>
				</div>
				<button type="button" id="meerButton1">Toon meer</button>
			</section>
			<section>
				<h2>Gebruik</h2>
				<div id="input-container2" class="hide">
				<%- item.implementatieStappen %>
				</div>
				<button type="button" id="meerButton2">Toon meer</button>
			</section>
			<section>
				<h2>Werking van product</h2>
				<div id="input-container3" class="hide">
				<%- item.werking %>
				</div>
				<button type="button" id="meerButton3">Toon meer</button>
			</section>
			<section>
				<h2>Extra informatie</h2>
				<div id="input-container4" class="hide">
				<%- item.extraInformatie %>
				</div>
				<button type="button" id="meerButton4">Toon meer</button>
			</section>
		</article>
	</main>
</body>
</html>
