<!DOCTYPE html>
<html lang="nl">
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body>
	<header class="detailPageHeader indexheader">
		<div class="titlecontainer">
			<button class="vergelijkButton"><a id="back-btn">Terug</a></button>
			<h1><%= item.titel %></h1>
		</div>
	</header>
	<main class="detailPage">
		<article data-id="<%= item.tags %>">
			<section>
				<h2>Beschrijving</h2>
				<%- item.beschrijving %>
				<h3>Wat kunt u ermee?</h3>
				<%- item.watKunJeErMee%>
			</section>
			<section class="img">
				<% if(item.afbeelding) { %>
					<img src="<%= item.afbeelding + '?fm=webp' %>" alt="">
				<% } %>
			</section>
			<section>
				<h2>Benodigheden</h2>
				<div id="input-container1" class="hide">
				<%- item.benodigdheden %>
				</div>
				<button type="button" id="meerButton1">Toon meer</button>
			</section>
			<section>
				<h2>Gebruik</h2>
				<div id="input-container2" class="hide">
				<h3>Voor de client</h3>
				<%- item.implementatieStappenVoorDeClient %>
				<h3>Voor de verzorger</h3>
				<%- item.implementatieStappenVoorDeVerzorger %>
				</div>
				<button type="button" id="meerButton2">Toon meer</button>
			</section>
			<section>
				<h2>Werking van product</h2>
				<div id="input-container3" class="hide">
				<%- item.werking %>
				</div>
				<button type="button" id="meerButton3">Toon meer</button>
			</section>
			<section>
				<h2>Extra informatie</h2>
				<div id="input-container4" class="hide">
				<%- item.extraInformatie %>
				<% if(item.data) { %>
					<h3>Wat gebeurd er met de (data) gegevens?</h3>
					<%- item.data %>
				<% } %>
				</div>
				<button type="button" id="meerButton4">Toon meer</button>
			</section>
			<section>
				<h2>Contact</h2>
				<div id="input-container5" class="hide">
				<%- item.contact %>
				</div>
				<button type="button" id="meerButton5">Toon meer</button>
			</section>
		</article>
	</main>
</body>
</html>
