<!DOCTYPE html>
<html lang="nl">
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body>
	<header>
		<h1>
			Vergelijken
		</h1>
	</header>
	<main class="vergelijken">
		<form class="vergelijken-form" action="/vergelijken" method="POST">
			<% items.forEach(item => { %>
				<input class="vergelijken-checkbox" type="checkbox" id="<%= item.fields.slug %>">
				<label class="vergelijken-label" for="<%= item.fields.slug %>">
					<article 
						data-id="<%= item.fields.tags %>"
						data-title="<%= item.fields.slug %>"
						class="ehealth-item"
						>
						<% if(item.fields.afbeelding) { %>
							<img src="<%= item.fields.afbeelding.fields.file.url %>" alt="">
						<% } %>
						<h3><%= item.fields.titel %></h3>
						<h5><%= item.fields.tags %></h5>
					</article>
				</label>
			<%})%>
			<button class="vergelijken-submit" type="submit">
				Vergelijken
			</button>
		</form>
	</main>
</body>
</html>