<!DOCTYPE html>
<html lang="nl">
<head>
	<%- include('partials/Head.ejs') %> 
</head>
<body>
	<header class="zoekheader">
		<div id="wrap">
			<form action="/" autocomplete="on" id="zoek-form">
				<input list="search" id="search-choice" name="searchChoice">
				<datalist id="search">
					<% items.forEach(item => { %>
						<option value="<%= item.fields.titel %>">
					<% }) %>
				</datalist>
				<input id="search_submit" value="Rechercher" type="submit">
			</form>
		</div>
		<div class="buttons">
			<a href="/overview"><p id="text">home</p></a>
			<a href="/"><p id="text">productenklapper</p></a>
			<a href="/zoek"><p class="active" id="text">zoek</p></a>
		</div>
	</header>
	<main class="landingspage">
		<section class="ehealthitemscontainer">
			<% items.forEach(item => { %>
				<a href="/products/<%= item.fields.slug %>">
					<article data-id="<%= item.fields.tags %>" data-title="<%= item.fields.slug %>"  class="ehealth-item">
						<% if(item.fields.afbeelding) { %>
							<img src="<%= item.fields.afbeelding.fields.file.url %>" alt="">
						<% } %>
						<h3><%= item.fields.titel %></h3>
						<h5><%= item.fields.tags %></h5>
					</article>
				</a>
			<% }) %>
		</section>
		<h3>Recent gezocht</h3>
		<section class="recentlyviewed">
			<% for( let index = 0; index < items.length; index++ ) { %>
				<a href="/products/<%= items[index].fields.slug %>">
					<article data-id="<%= items[index].fields.tags %>" data-title="<%= items[index].fields.slug %>"  class="ehealth-item">
						<% if(items[index].fields.afbeelding) { %>
							<img src="<%= items[index].fields.afbeelding.fields.file.url %>" alt="">
						<% } %>
						<h3><%= items[index].fields.titel %></h3>
						<h5><%= items[index].fields.tags %></h5>
					</article>
				</a>
			<% } %>
		</section>
        <h3>Recent bekeken</h3>
		<section class="recentlyviewed">
			<% for( let index = 0; index < items.length; index++ ) { %>
				<a href="/products/<%= items[index].fields.slug %>">
					<article data-id="<%= items[index].fields.tags %>" data-title="<%= items[index].fields.slug %>"  class="ehealth-item">
						<% if(items[index].fields.afbeelding) { %>
							<img src="<%= items[index].fields.afbeelding.fields.file.url %>" alt="">
						<% } %>
						<h3><%= items[index].fields.titel %></h3>
						<h5><%= items[index].fields.tags %></h5>
					</article>
				</a>
			<% } %>
		</section>
		<h3>Populair</h3>
		<section class="recentlyviewed">
			<% for( let index = 0; index < items.length; index++ ) { %>
				<a href="/products/<%= items[index].fields.slug %>">
					<article data-id="<%= items[index].fields.tags %>" data-title="<%= items[index].fields.slug %>"  class="ehealth-item">
						<% if(items[index].fields.afbeelding) { %>
							<img src="<%= items[index].fields.afbeelding.fields.file.url %>" alt="">
						<% } %>
						<h3><%= items[index].fields.titel %></h3>
						<h5><%= items[index].fields.tags %></h5>
					</article>
				</a>
			<% } %>
		</section>
	</main>
</body>
</html>
